*{
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  /* background-image: url('../images/bg.png'); */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.btn { /* just for this demo. */
  margin-top: 5px;
}
.btn-arrow-right,
.btn-arrow-left {
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
}
.btn-arrow-right {
  padding-left: 36px;
}
.btn-arrow-left {
  padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
  content:"";
  position: absolute;
  top: 5px; /* move it down because of rounded corners */
  width: 22px; /* same as height */
  height: 22px; /* button_outer_height / sqrt(2) */
  background: inherit; /* use parent background */
  border: inherit; /* use parent border */
  border-left-color: transparent; /* hide left border */
  border-bottom-color: transparent; /* hide bottom border */
  border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
  -webkit-border-radius: 0px 4px 0px 0px;
  -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
  transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
  transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
  left: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
  right: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
  z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
  background-color: white;
  
}
.circle{
  width: 25px;
  height: 25px;
  border-radius: 48%;
  background-color: white;
  color: #282c34;
  display: inline-block;
  margin-right: 10px;
}
.m0{
  margin: 0px;
}

.p0{
  padding: 0px;
}
.custom-btn{
  width: 34px;
  border: 0;
  display: inline-block;
  background-color: #fabd4cfc;
  color: #fff;
}
.title{
  font-size: 12px;
  text-align: left;
  background-color:#fff!important;
  color:#000;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  padding-left: 3px;
}

.pb20{
  padding-bottom: 20px;
}

.cartinfo{
  font-size: 10px;
}
.font-size-20{
  font-size: 20px;
}
.calcuation{
  color:  #fabd4cfc;
  font-size: 20px;
  padding-left:10px ;
}
.tax{
  color:  #fabd4cfc;
  font-size: 12px;
  padding-left:10px ;
}
.footer{
  position: absolute;
  bottom: 0;
  background-color: orange;
}

.rec-dot{
  background-color: #ffa50070!important;
}
.rec-dot_active{
  background-color: orange!important;
}

.active >button{
    background-color: #ffc107!important;
} 

.bb{
  border-bottom: 1px solid #80808066;
  font-weight: 800;
  padding-bottom: 15px;
}
